In [5]:
def test(a,b,c):
    d=a+b+c
    print(d)

In [8]:
test(1,5,3)

9

In [9]:
a=10
b=20
c=20
d=a*b*c
print(d)

4000

In [12]:
def test(a,b,c):
    d=a*b*c
    print(d)

In [15]:
test(1,2,4)

8

In [16]:
def test(a,b,c):
    print("value of a is:",a)
    print("value of b is:",b)
    print("value of c is :",c)

In [17]:
test(1,2,3)

value of a is: 1
value of b is: 2
value of c is : 3

In [18]:
def test(a,b,c=1):
    print("value of a is:",a)
    print("value of b is:",b)
    print("value of c is :",c)

In [19]:
test(1,2)

value of a is: 1
value of b is: 2
value of c is : 1

In [20]:
test(1,2,4)

value of a is: 1
value of b is: 2
value of c is : 4

In [21]:
test(a=4,b=2,c=1)

value of a is: 4
value of b is: 2
value of c is : 1

In [22]:
def mul(a,b):
    c=a*b
    print(c)
mul(1,5)

5

In [38]:
def test(a,b,c):
    print("the first name is:",a)
    print("the secound name is:",b)
    print("the third name is :",c)
    print(a,b,c)
test("abi","moorthy","babu")

the first name is: abi
the secound name is: moorthy
the third name is : babu
abi moorthy babu

In [39]:
def test(a,b,c):
    print("the first name is:",a)
    print("the secound name is:",b)
    print("the third name is :",c)
    print("the full name is:",a+""+ b+""+ c+"")

In [40]:
test("moorthy","shan",2)

the first name is: moorthy
the secound name is: shan
the third name is : 2

TypeError: can only concatenate str (not "int") to str

In [41]:
def test(a,b,c):
    print("the first name is:",a)
    print("the secound name is:",b)
    print("the third name is :",c)
    print(a,b,c)

In [42]:
test(a="moorthy",b="shan","siva")

SyntaxError: positional argument follows keyword argument (3462794693.py, line 1)

In [43]:
test(a="siva",b="shan",c="moorthy")

the first name is: siva
the secound name is: shan
the third name is : moorthy
siva shan moorthy

In [52]:
def add(a,b):
    c=a+b
    #print(c)
    return(c)

In [53]:
a=add(5,7)

In [54]:
print(a)

12

In [55]:
b=add(a,4)
print(b)

16

In [1]:
a="one"

def test ():
    a="two"
    #print(a)
    return(a)
a=test()
print(a)

two

In [3]:
a="one"

def test ():
    global a
    a="two"
    #print(a)
test()
print(a)

two

In [15]:
a=input('enter a number:')
b=input('enter a type:')
a=int(a)
if b=='even':
    print("yes")
else:
    print("wrong")

enter a number:100
enter a type:even
yes

In [24]:
l=[]
for i in range (10):
    if i%2!=0:
        l.append(i)
print(l)

[1, 3, 5, 7, 9]

In [1]:
l=[]
def test(a,b):
    for i in range(a):
        if b=="even":
            
             if i%2==0:
                l.append(i)
        else:
            if i%2!=0:
                l.append(i)
                
    return l

In [4]:
a=test(100,'odd')

In [3]:
print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499, 501, 503, 505, 507, 509, 511, 513, 515, 517, 519, 521, 523, 525, 527, 529, 531, 533, 535, 537, 539, 541, 543, 545, 547, 549, 551, 553, 555, 557, 559, 561, 563, 565, 567, 569, 571, 573, 575, 577, 579, 581, 583, 585, 587, 589, 591, 593, 595, 597, 599, 601, 603, 605, 607, 609, 611, 613, 615, 617, 619, 621, 623, 625, 627, 629, 631, 633, 635, 637, 639, 641, 643, 645, 647, 649, 651, 653, 655, 657, 659, 661, 663, 665, 667, 669, 671, 673, 675, 677, 679, 681, 683, 685, 687, 689, 691, 693, 695, 697, 699, 701, 703, 705, 707, 709, 711, 713, 715, 717, 719, 721, 723, 725, 727, 729, 731, 733, 735, 737, 739, 741, 743, 745, 747, 749, 751, 753, 755, 757, 759, 761, 763, 765, 767, 769, 771, 773, 775, 777, 779, 781, 783, 785, 787, 789, 791, 793, 795, 797, 799, 801, 803, 805, 807, 809, 811, 813, 815, 817, 819, 821, 823, 825, 827, 829, 831, 833, 835, 837, 839, 841, 843, 845, 847, 849, 851, 853, 855, 857, 859, 861, 863, 865, 867, 869, 871, 873, 875, 877, 879, 881, 883, 885, 887, 889, 891, 893, 895, 897, 899, 901, 903, 905, 907, 909, 911, 913, 915, 917, 919, 921, 923, 925, 927, 929, 931, 933, 935, 937, 939, 941, 943, 945, 947, 949, 951, 953, 955, 957, 959, 961, 963, 965, 967, 969, 971, 973, 975, 977, 979, 981, 983, 985, 987, 989, 991, 993, 995, 997, 999]

In [4]:
#inlind function using lambda
a= lambda x,y : x*y

In [5]:
a(5,6)

30

In [ ]:
#filter , map, reduce

In [16]:
def even(n):
    if n%2==0:
        return True
    else:
        return False

In [17]:
a=[1,2,3,4,5,6,7,8,9,10]

In [18]:
b= (filter(even, a))
print(list(b))

[2, 4, 6, 8, 10]

In [19]:
b=map(even,a)
print(list(b))

[False, True, False, True, False, True, False, True, False, True]

In [20]:
from functools import reduce

def sum(m,n):
    return m+n
a= [1,2,3,4,5,6,7,8,9,10]
print(reduce(sum,a))

55

In [21]:
a= filter (lambda x:x %2 ==0 , range(10))

In [30]:
print(tuple(a))

()

In [29]:
a=map(lambda x:x %2==0, range(10))
print(tuple(a))

(True, False, True, False, True, False, True, False, True, False)